@model PHONEBOOK.DOMIN.CORE.Person
@{


}

<form asp-controller="people" asp-action="Add" method="post">
    <!-- Input and Submit elements -->
    @*<input type="text" src="..." alt="Or Click Me" formaction="/Home/Test">*@
    <input type="text" asp-for="FirstName">
    <input type="text" asp-for="LastName">
    <input type="text" asp-for="Phones">
    <input type="text" asp-for="FirstName">
    <input type="text" asp-for="FirstName">




</form>