@model PHONEBOOK.ENDPOINT.MVC.Models.AddNewPeopleForDispaly_ViewModel
@{


}

    <form asp-controller="people" asp-action="Add" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input type="text" asp-for="FirstName" class="form-control" max="50">
            <span asp-validation-for="FirstName"> </span>

        </div>

        <div class="form-group">
            <label asp-for="LastName"></label>
            <input type="text" asp-for="LastName" class="form-control" max="50">
            <span asp-validation-for="LastName"> </span>



        </div>


        <div class="form-group">
            <label asp-for="Email"></label>
            <input type="text" asp-for="Email" class="form-control" max="50">
            <span asp-validation-for="Email">  </span>



        </div>

        <div class="form-group">
            <label asp-for="Address"></label>
            <input type="text" asp-for="Address" class="form-control" max="250">
            <span asp-validation-for="Address"> </span>


        </div>

        <div class="form-group">
            <label asp-for="Image"></label>
            <input type="file" asp-for="Image" class="form-control" max="500">
            <span asp-validation-for="Image"> </span>


        </div>


        <!-- Input and Submit elements -->
        @*<input type="text" src="..." alt="Or Click Me" formaction="/Home/Test">*@



        <div class="form-group">

            <select  asp-for="TagsForDisplay" name="selectedtag"  multiple>
                @foreach (var item in Model.TagsForDisplay)
                 {
                    <option value="@item.ID"> @item.Title</option>
                 }
            </select>
        </div>


        <button type="submit" class="btn btn-success">ثبت</button>





    </form>