@model PHONEBOOK.ENDPOINT.MVC.Models.AddNewPeopleForDispaly_ViewModel
@{


}

<form asp-controller="people" asp-action="Add" method="post">
    <!-- Input and Submit elements -->
    @*<input type="text" src="..." alt="Or Click Me" formaction="/Home/Test">*@
    <input type="text" asp-for="FirstName">
    <input type="text" asp-for="LastName">
    <input type="text" asp-for="Email">
    <input type="text" asp-for="Address">
    <input type="file" asp-for="Image">
    <select multiple>
        @foreach (var item in Model.TagsForDisplay)
        {
        <option value="@item.ID"> @item.Title</option>
        }
    </select>




</form>