@model List<PHONEBOOK.DOMIN.CORE.Person>
@{
    ViewData["Title"] = "Index";
}

<table class="table table-striped">
    <thead>
        <tr>
            @*<th scope="col">#</th>*@
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<th scope="row">1</th>*@
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Email</td>
                <td>
                    <a asp-controller="people"
                       asp-action="sag" 
                       asp-route-id="@item.ID">Show Details</a>
                </td>

            </tr>
        }


    </tbody>
</table>
